.backtotop {
    position: fixed;
    right: 0.5%;
    bottom: 1%;
    font-size: 1rem;
    border-radius: 75%;
    width: 50px;
    height: 50px;
    background-color: rgb(225, 209, 26);
    filter: drop-shadow(2px 2px 20px yellow);
    text-align: center;
}
* {
    background-color: rgb(229, 207, 145);
    scroll-behavior: smooth;
}
